.footer {

  &-item-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: var(--white);
  }

  &-item-link {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--white);
    opacity: 0.7;

    &:hover {
      text-decoration: underline;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & li {

      &:nth-child(1) {
        margin-bottom: 5px;
      }
    }
  }

  &__content {
    padding: 60px;
    border-radius: 20px;
    background-color: var(--black);

    &-top {
      @include flex-betweenCenter;
      align-items: flex-start;
      padding-bottom: 40px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);;

      &__info {
        display: flex;
        gap: 128px;

        &-right {

          &__top {
            display: flex;
            gap: 120px;
            margin-bottom: 31px
          }

          &__form {
            @include grid-ColumnsEqually(2, 10px);

            &-label {

              & input {
                width: 100%;
                padding: 16px 20px;
                border-radius: 10px;
                border: 1px solid rgba(255, 255, 255, 0.2);
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                letter-spacing: -0.02em;
                color: var(--white);

                &::placeholder {
                  opacity: 0.4;
                }
              }
            }

            &-btn {
              color: var(--black);
              background-color: var(--white);
              border-radius: 10px;

              &:hover {
                color: var(--white);
                background-color: var(--siniy);

                & svg {
                  stroke: var(--white);
                }
              }
            }
          }
        }
      }
    }

    &-bottom {
      padding-top: 48px;

      &__top {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 15px;

        & a {
          font-weight: 400;
          font-size: 14px;
          letter-spacing: -0.02em;
          color: var(--white);
          opacity: 0.7;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &__bottom {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;

        & p {
          font-weight: 400;
          font-size: 14px;
          letter-spacing: -0.02em;
          color: var(--white);
          opacity: 0.7;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .footer {

    &__content {

      &-top {
        flex-direction: column;
        gap: 30px;

        &__info {
          justify-content: space-between;
          gap: 40px;
          width: 100%;

          &-right {

            &__top {
              gap: 40px;
            }
          }
        }
      }

    }
  }
}

@media (max-width: 768px) {
  .footer {

    &__content {
      padding: 20px;

      &-top {

        &__info {
          @include grid-ColumnsEqually(2, 40px);

          &-right {
            grid-column: span 2;

            &__top {
              justify-content: space-between;
              gap: 0;
            }

            &__form {
              display: flex;
              flex-direction: column;

              &-btn {
                padding: 17px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .footer {

    &-list {
      gap: 11px;
    }

    &__content {

      &-top {
        padding-bottom: 27px;

        &__logo {
          width: 52px;
          height: 60px;
        }
      }

      &-bottom {
        padding-top: 34px;

        &__top {
          margin-bottom: 21px;
        }

        &__bottom {
          gap: 23px;
        }
      }
    }
  }
}
